@keyframes moveCircle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg) translateX(150px);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) translateX(150px);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg) translateX(150px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(150px);
  }
}

@keyframes moveCircleReverse {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-90deg) translateX(150px);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg) translateX(150px);
  }
  75% {
    transform: translate(-50%, -50%) rotate(-270deg) translateX(150px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg) translateX(150px);
  }
}

@keyframes backgroundColorChange20 {
  0% {
    background-color: var(--Orange-20);
  }
  25% {
    background-color: var(--Green-20);
  }
  50% {
    background-color: var(--Blue-20);
  }
  75% {
    background-color: var(--Gold-20);
  }
  100% {
    background-color: var(--Purple-20);
  }
}

@keyframes backgroundColorChange50 {
  0% {
    background-color: var(--Orange-50);
  }
  25% {
    background-color: var(--Lime-Green-50);
  }
  50% {
    background-color: var(--Blue-50);
  }
  75% {
    background-color: var(--Gold-50);
  }
  100% {
    background-color: var(--Purple-50);
  }
}

@keyframes backgroundColorChange70 {
  0% {
    background-color: var(--Brown-70);
  }
  25% {
    background-color: var(--Green-70);
  }
  50% {
    background-color: var(--Navy-70);
  }
  75% {
    background-color: var(--Gold-70);
  }
  100% {
    background-color: var(--Blue-Purple-70);
  }
}