@keyframes moveCircle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg) translateX(150px);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) translateX(150px);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg) translateX(150px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(150px);
  }
}

@keyframes moveCircleReverse {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-90deg) translateX(150px);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg) translateX(150px);
  }
  75% {
    transform: translate(-50%, -50%) rotate(-270deg) translateX(150px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg) translateX(150px);
  }
}

@keyframes backgroundColorChange80 {
  0% {
    background-color: var(--Brown-80);
  }
  25% {
    background-color: var(--Green-80);
  }
  50% {
    background-color: var(--Blue-80);
  }
  75% {
    background-color: var(--Gold-80);
  }
  100% {
    background-color: var(--Purple-80);
  }
}

@keyframes backgroundColorChange40 {
  0% {
    background-color: var(--Orange-40);
  }
  25% {
    background-color: var(--Lime-Green-40);
  }
  50% {
    background-color: var(--Blue-40);
  }
  75% {
    background-color: var(--Gold-40);
  }
  100% {
    background-color: var(--Purple-40);
  }
}

@keyframes backgroundColorChange60 {
  0% {
    background-color: var(--Brown-60);
  }
  25% {
    background-color: var(--Green-60);
  }
  50% {
    background-color: var(--Navy-60);
  }
  75% {
    background-color: var(--Gold-60);
  }
  100% {
    background-color: var(--Blue-Purple-60);
  }
}